# Database (read-only operations; sama dengan apps lain)
DATABASE_URL=

# Xendit (untuk QRIS customer)
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=

# URL internal
NEXT_PUBLIC_POS_URL=http://localhost:3003
